@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

header{
    background: transparent;
    opacity:0.8;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: 0.6s;
    padding: 25px 100px;
    z-index:100000;
}

header.sticky{
    padding:5px 100px;
    background-color: white;
}

header .logo{
    position:relative;
    font-weight: 700;
    color: white;
    text-decoration:none;
    font-size: 60px;
    letter-spacing: 3px;
    transition:0.8s;
}

header.sticky .logo{
    color:black;
}

header ul{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

header ul li{
    position:relative;
    list-style: none;
}

header ul li a{
    color: white;
    position:relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing:3px;
    transition: 0.8s;
}

header.sticky ul li a{
    color: black;
}

.section1{
    background: #524A4E;
    height:1000px;
}
.section2{
    background: white;
    height:1000px;
}
.section3{
    background: red;
    height:1000px;
}

.parallax{
    margin:0;
    padding:0;
    height:100%;
    background: url("https://wallpapercave.com/wp/wp9066628.jpg")
        repeat fixed 50% center;
    display:flex;
    align-items:center;
}

.section1{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.section1 h1{
    position:relative;
    opacity:0;
    top:200px;
    font-weight: 700;
    transform:scale(0);
    transition:0.6s;
    
}

#nomeSection1:hover{
    transform:scale(1.2);
}

#cargoSection1:hover{
    transform:scale(1.2);
    color:green;
}


.section1.appear h1{
    opacity:1;
    top:0px;
    transform: scale(1);
}

#nomeSection1{
    font-size: 50px;
    color:white;
}


#cargoSection1{
    display:inline-block;
    text-decoration: none;
    color:black;
    cursor:pointer;
    transition:0.6s;
}

.skills{
    position:relative;
    top: 30px;
    opacity:0;
    width:500px;
    margin: 0px auto;
    color:#524A4E;
    transition: 1s;
}

.skills.scrolled{
    top:0px;
    opacity: 1;
}

.skills li{
    list-style-type: none;
    margin:20px 0;
}

.skills h1{
    padding-top: auto;
    text-align: center;
    text-transform:uppercase;
    font-size:40px;
}
.bar{
    background: black;
    display: block;
    height: 20px;
    border: 2px solid rgba(133, 248, 133, 0.8);
    border-radius:8px;
    overflow:hidden;
    box-shadow: 0 0 10px green;
}

.bar span{
    height: 20px;
    float:left;
    background: green;
}

.html{
    width: 0%;
    transition: 0.6s;
}

.html.scrolled{
    width:60%;
}

.python{
    width: 0%;
    transition: 1s;
}

.python.scrolled{
    width:70%;
}


.c{
    width: 0%;
    transition: 1.5s;
}
.c.scrolled{
    width:80%;
}

.video{
    width: 0%;
    transition: 2s;

}
.video.scrolled{
    width:90%;
}

.js{
    width: 0%;
    transition: 2.3s;
}
.js.scrolled{
    width:35%;
}

.parallax2{
    margin:0;
    padding:0;
    height:100%;
    background: url("https://wallpapercave.com/wp/wp5204110.jpg")
        repeat fixed 50% center;
}

.section3{
    text-align:center;
}


.parallax2 h1{
    padding-top:8%;
    font-size: 80px;
    text-align:center;
    font-weight:700;
    text-transform: uppercase;
}

.process-wrapper{
    margin:auto;
    margin-top:8%;
    max-width: 80%;
}


#progress-bar-container{
    position:relative;
    width:90%;
    margin:auto;
    height:100px;
    margin-top:59px;
}

#progress-bar-container ul{
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:10000;
    position:absolute;
    width:100%;
    margin-top:-40px;
    list-style-type: none;
}

#progress-bar-container li:before{
    content: "";
    display:block;
    margin:auto;
    width:30px;
    height:30px;
    border-radius:50%;
    border:solid 2px #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before{
    background:greenyellow;
}


#progress-bar-container li{
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#aaa;
    text-transform:uppercase;
    font-size:11px;
    cursor:pointer;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:59px;
    position:relative;
}

#progress-bar-container li .step-inner{
    position:absolute;
    padding-top:50px;
    width: 100%;
    bottom:0;
    font-size:14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover{
    color:deepskyblue;
}

#progress-bar-container li:after{
    content:"";
    display:block;
    width:5px;
    height:5px;
    background:#777;
    margin:auto;
    border: solid 7px white;
    border-radius:50%;
    margin-top:40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;

}

#progress-bar-container li:hover:after{
    background:deepskyblue;
}

#progress-bar-container li.active:after{
    background:deepskyblue;
}

#progress-bar-container #line{
    width:80%;
    margin:auto;
    background: #eee;
    height:5px;
    position:absolute;
    left:10%;
    top:57px;
    z-index:1;
    border-radius:50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress{
    content: "";
    width:3%;
    height:100%;
    background:deepskyblue;
    background: linear-gradient(to right, deepskyblue 0%, red 100%);
    position:absolute;
    z-index:2;
    border-radius: 50px;
    transition:all ease 0.9s;
}

#progress-content-section{
    width: 90%;
    margin:auto;
    background: #f3f3f3;
    border-radius:30px;
}

#progress-content-section .section-content{
    padding: 30px 40px;
    text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:20px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.animationSection3{
    opacity:0;
    transform: translateY(60px);
    transition: all ease 2s;
}

.animationSection3.scrolled{
    opacity:1;
    transform: translateY(0px);
}

.container2{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: url("https://wallpapercave.com/wp/wp7528738.jpg")
        repeat fixed 50% center;
    overflow:hidden;
}

.container2 .box{
    position:absolute;
    width:100%;
    height:100vh;
    cursor: pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all ease 1s;
}



.container2 .box:hover{
    transform:scale(1.02);
    z-index:1000;
}

.container2 .box.box1{
    background:red;
    clip-path: polygon(0 0, 33% 0, 33% 100%, 0% 100%);
    transition: 1s;
}
.container2 .box.box2{
    background:green;
    border-left: 1px solid red;
    clip-path: polygon(33% 0, 67% 0, 67% 100%, 33% 100%);
}

.container2 .box.box3{
    background:blue;
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 100%);
}

.container2 .box.active{
    opacity:1; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container2 .content{
    padding:20px;
    margin:20px;
    z-index:10;
    opacity:0;
    transition: 1s;
}

.container2 .box.active .content{
    opacity:1;
}

.container2 .content h2{
    color: #fff;
    font-size: 6vw;
    text-align:center;
    font-weight: initial;
}

.container2 .box video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
